.container {
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: var(--border-radius);
    color: var(--gray-100);
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.checkboxContainer {
    padding: 0.1rem 0;
    width: 1.2rem;
}

.contentContainer {
    flex-grow: 1;
}

.contentContainer p {
    word-break: break-word;
}

.completeContent p {
    color: var(--gray-300);
    text-decoration: line-through;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox {
    background: transparent;
    border: 2px solid var(--blue-300);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 1.19rem;
    width: 1.2rem;
}

.checkbox:focus-within {
    border-color: var(--purple-500);
    outline: 1px solid white;
    outline-offset: 2px;
}

.checkbox img {
    display: none;
    margin-top: 0.1rem;
}

.completeCheckbox {
    background: var(--purple-500);
    border: 2px solid var(--purple-300);
}

input[type="checkbox"]:checked + img {
    display: block;
}

.deleteButton {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.15rem;
}

.deleteIcon {
    display: block;
}
